.glow-on-hover.round{
    min-width: 4rem;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

.glow-on-hover.round:before{
    border-radius: 100%;
}

.glow-on-hover.round:after{
    border-radius: 100%;
}

.round-plus{
    font-weight: 700;
    font-size: 1.5rem;
}