.typewriter h1 {
    text-align: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 2rem auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  .container {
    min-height: 30vh;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
  }
  
  .container div > p span {
    color: red;
  }
  
  p {
    position: relative;
    top: 30px;
  }
  
  p a {
    color: rgb(25, 0, 255);
    text-decoration: none;
  }
  
  .button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 10px 10px;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(41, 41, 41, 0.2);
    transition: 0.4s;
  }
  
  .reg {
    color: white;
    background-color: rgba(41, 41, 41, 1);
  }
  
  .log {
    color: rgb(44, 41, 40);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(41, 41, 44);
  }
  
  .button:hover {
    color: white;
    /* width:; */
    box-shadow: 0 0 20px rgba(41, 41, 41, 0.6);
    background-color: rgba(41, 41, 41, 1);
  }