.links{
    margin-bottom: 15rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2.in-links{
    margin: 2rem 1rem;
}

@media (max-aspect-ratio: 9/10){
    .links{
        margin-top: 0;
    }
}